<div class="page-landing">
            <div class="col ">

            <div class="col mx-auto animate-next">
                <img src= "/assets/Stratocumulus.png" id="reizinho">
                <h1 class="palavras display-2 d-inline align-middle" style="color: white;"> Aprecie nossas Artes </h1>
                <img src= "/assets/King.png" id="reizinho">
            </div>
            <br><br><br>
                    <div class="col animacao animate-next">
                            <img src= "/assets/Bat.jpg" class="retrato"> 
                            <img src= "/assets/Aria.jpg" class="retrato">
                            <img src= "/assets/Xiangling.jpg" class="retrato" >
                    </div>
                <div class="col liga animate-next">
                        <img src= "/assets/Bunny.jpg" class="retrato">
                        <img src= "/assets/Sucrose.jpg" class="retrato">
                        <img src= "/assets/Darling.jpg" class="retrato">
                </div>
                <div class="col fogo animate-next">
                        <img src= "/assets/fiddlesticksHIGHLIGTH.jpg" class="retrato">
                        <img src= "/assets/Mai.jpg" class="retrato">
                        <img src= "/assets/Noelle.jpg" class="retrato">
                        <img src= "/assets/BruxinhaNaFlorestaHIGHLIGTH.jpg" class="retrato">
                </div>
                <div class="col chama animate-next">
                        <img src= "/assets/Squigly.jpg" class="paisagem">
                        <img src= "/assets/Cerebella.jpg" class="paisagem">
                        <img src= "/assets/Void.jpg" class="paisagem">
                </div>
            </div>

</div>
<br><br>