<nav class="navbar navbar-expand fixed-top" id="navstyle">
  <div class="collapse navbar-collapse row align-items-center">
            <div class="col-2 mx-auto">
                <img src= "/assets/SrNuvemLogo.png" class="navbar-brand d-none d-md-block" alt="SrNuvemLogo" id="Logo"> 
            </div>
            <div class="col bordanav">
              <%= link_to "Home", root_path, class:"fontnav" %>
            </div>
            <div class="col bordanav">
              <%= link_to "Galeria", galeria_path, class:"fontnav" %>
            </div>
            <div class="col">
              <%= link_to "Contato", contato_path, class:"fontnav" %>
            </div>

            <div class="col">
            <a href="https://twitter.com/sr_nuvem" target="_blank"><img src="assets/twitter.png" class="icones"> </a>
            <a href="https://www.youtube.com/channel/UCBxt61ojQ11hwUnjsSGj3-Q" target="_blank"><img src="assets/youtube.png" class="icones"> </a>
            <a href="https://www.instagram.com/sr_nuvem/" target="_blank"><img src="assets/Instagram.png" class="icones"> </a>
            <a href="https://www.deviantart.com/srnuv3m"  target="_blank"><img src="assets/Devianart.png" class="icones"> </a>
            <a href="mailto:Cloudhouse69@gmail.com?Subject=Título%20da%20mensagem" target="_blank"><img src="assets/gmail.png" class="icones"> </a>
          </div>
  
  </div>
</nav>