<nav class="navbar navbar-expand fixed-top" id="navstyle">
  <div class="collapse navbar-collapse row align-items-center">
            <div class="col-2 mx-auto">
                <img src= "/assets/SrNuvemLogo.png" class="navbar-brand d-none d-md-block" alt="SrNuvemLogo" id="Logo"> 
            </div>
            <div class="col bordanav">
              <%= link_to "Home", root_path, class:"fontnav" %>
            </div>
            <div class="col bordanav">
              <%= link_to "Galeria", galeria_path, class:"fontnav" %>
            </div>
            <div class="col">
              <%= link_to "Sobre", contato_path, class:"fontnav" %>
            </div>

            <div class="col">
            
            <a href="https://twitter.com/sr_nuvem" target="_blank"><i class='fab fa-twitter icones'></i> </a>
            <a href="https://www.instagram.com/sr_nuvem/" target="_blank"><i class='fab fa-instagram icones'></i> </a>
            <a href="https://www.deviantart.com/srnuv3m"  target="_blank"><i class='fab fa-deviantart icones'></i> </a>
          </div>
  
  </div>
</nav>