<div class="page-landing d-block"> 
<center class="display-2 palavras"> Descubra mais sobre mim</center>
<br><br>
<div class="row mt-2 m-0" >
        <div class="col-8 animate-next">
            <div class="card border-dark">
                <div class="card-header bg-dark">
                <center class="display-2"> Me procure no discord</center>
                <center class="display-4"> Sr_Nuvem#5802 </center>
                </div>
                <img src= "/assets/Srnuvemdisc.png" class="mx-auto sobre card-img-bottom" >
            </div>
            <div><br><br></div>
            <div class="card border-dark">
                <div class="card-header bg-dark"><center class="display-2 "> Inscreve-se no youtube</center></div>
                <a href="https://www.instagram.com/sr_nuvem/"> <img src= "/assets/youtubebanner.png" class="mx-auto sobre card-img-bottom" ></a>
            </div>
            <div><br><br></div>
            <div class="card border-dark">
                <div class="card-header bg-dark"><center class="display-2"> Siga-me no instagram</center></div>
                <a href="https://www.instagram.com/sr_nuvem/"><img src= "/assets/instagramprint.png" class="mx-auto sobre" ></a>
            </div>
            <div><br><br></div>
            <div class="row mx-auto">
                
                <div class="card w-50 mx-auto">
                    <div class="card-header bg-dark">
                        Mais
                    </div>
                    <div class="card-body align-middle">
                    <h5 class="card-title">Visite também</h5>
                    <p class="card-text">Concept artist / Developer</p>
                    <a href="https://www.behance.net/kauecardoso" class="btn btn-primary w-50">Kauê "Smutsia" Cardoso</a>
                    </div>
                </div>  
                <div class="card w-50 mx-auto">
                    <div class="card-header bg-dark">
                        Contato
                    </div>
                    <div class="card-body align-middle my-auto">
                        <p class="card-text">Cloudhouse69@gmail.com.</p>
                        <a href="mailto:Cloudhouse69@gmail.com?Subject=Título%20da%20mensagem" class=""><img src="/assets/gmail.png" style="width: 12%;"></a>
                    </div>
                </div>
                
            </div> 
            <br>

        </div>
        <div class="col-4 animate-up"> 
            <div id="bio">
                <img src= "/assets/Gustavo.jpg" id="perfil" alt="Gustavo Andrade">
                <div class="container">
                <p class="palavras">Olá galerinha de outro mundo!
                Meu nome é Gustavo, tenho 20 anos e sou artista desde quando me conheço por gente. 
                Meu sonho sempre foi trabalhar com desenhos e espero que com o seu apoio, isso se torne real! 
                Aproveitem todo o conteúdo dessa página que foi feito com muito carinho e dedicação especial para vocês.</p>

                
                
                <blockquote class="blockquote">
                    <p class="palavras">"Be a Cloud"</p>
                </blockquote>
                
                </div>
                <div class="row mx-auto"> 
                    <img src= "/assets/King.png" class="mx-auto" id="mini">
                    <img src= "/assets/Cumulus.png" class="mx-auto" id="mini">
                </div>
            </div>
            
        </div>
</div>
</div>