<div class="page-landing d-block container"> 
<div class="row mt-2" >
        <div class="col-8">
            <center class="display-2 font"> Olá eu sou o Gus Ta Vo</center>
            <p class="font">Cloudhouse69@gmail.com</p>
            <p> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p>
                <p> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p><p> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p><p> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p>
                <p> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p><p> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p><p> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p>
                <p> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p><p> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p><p> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p>
                <p> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p><p> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p>
                <p> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p>
                <p> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p><p> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p><p> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p>
                <p> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p><p> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p><p> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p>
                <p> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p><p> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p>
                <p> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p><p> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p><p> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p>
        </div>

        <div class="col-4 animate-up"> 
            <div id="bio">
                <img src= "/assets/Gustavo.jpg" id="perfil" alt="Gustavo Andrade">
                <p class="letras"> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p>
                <p class="letras"> Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo 
                Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo Eu sou o Gustavo </p>
                <p class="letras">Cloudhouse69@gmail.com</p>
                <div class="row mx-auto"> 
                    <img src= "/assets/King.png" class="mx-auto" id="reizinho">
                    <img src= "/assets/Cumulus.png" class="mx-auto" id="reizinho">
                </div>
            </div>
        </div>

</div>
</div>