<div class="page-landing animate-up">
            <div class="col">

            <div class="col my-auto mx-auto">
                <img src= "/assets/Stratocumulus.png" id="reizinho">
                <h1 class="letras d-inline display-2"> Aprecie nossas Artes </h1>
                <img src= "/assets/King.png" id="reizinho">
            </div>
            <br><br><br>
                    <div class="col">
                            <img src= "/assets/Bat.jpg" class="retrato"> 
                            <img src= "/assets/Aria.jpg" class="retrato">
                            <img src= "/assets/Xiangling.jpg" class="retrato" >
                    </div>
                <div class="col">
                        <img src= "/assets/Bunny.jpg" class="retrato">
                        <img src= "/assets/Sucrose.jpg" class="retrato">
                        <img src= "/assets/Darling.jpg" class="retrato">
                </div>
                <div class="col">
                        <img src= "/assets/fiddlesticksHIGHLIGTH.jpg" class="retrato">
                        <img src= "/assets/Mai.jpg" class="retrato">
                        <img src= "/assets/Noelle.jpg" class="retrato">
                        <img src= "/assets/BruxinhaNaFlorestaHIGHLIGTH.jpg" class="retrato">
                </div>
                <div class="col">
                        <img src= "/assets/Squigly.jpg" class="paisagem">
                        <img src= "/assets/Cerebella.jpg" class="paisagem">
                        <img src= "/assets/Void.jpg" class="paisagem">
                </div>
            </div>

</div>
<br><br>