<div class="page-landing">
      <div id="container">
        <header>
          <img class="animate-up" , style="height: 35vh;" src= "/assets/SrNuvemMini.png" alt="Sr Nuvem Logo"> 
          <h1 class="animate-up font" style="font-size: 8rem;">SrNuvem</h1>
          <div class="location animate-up">
            <p class="font"> <strong> São Vicente -</strong><!-- O Strong possui display inline--> São Paulo </p>
            <!-- A tag P possui display block-->
          </div>
        </header>

        <div class="font">
          <h1 class="animate-up">Bem Vindo Mero Mortal</h1>

            <p class="animate-up">Visite minha pagina e me faça feliz</p>
            <a class="animate-up">
            <%= link_to image_tag("/assets/setinha.svg"), galeria_path, class:"teste", style:"margin-top: 4vh"  %>
            </a>
        </div>
      </div>
</div>