<div class="page-landing">
      <div id="container">
        <header>
          <img class="animate-up active" , style="height: 25vh;" src= "/assets/SrNuvemLogo.png" alt="Sr Nuvem Logo"> 
          <h1 class="animate-up font" style="font-size: 8rem;">SrNuvem</h1>
          <div class="location animate-up">
            <p class="font"> <strong> São Vicente -</strong><!-- O Strong possui display inline--> São Paulo </p>
            <!-- A tag P possui display block-->
          </div>
        </header>

        <div class="font">
          <h1 class="animate-up">Identifique - se Mero Mortal</h1>

            <p class="animate-up">Visite minha pagina e faça eu feliz</p>
            <a class="animate-up">
            <img class="teste" style="margin-top: 3vh;" src= "/assets/setinha.svg" alt="Seta Maneira"> 
            </a>

        </div>
      </div>
</div>