@import 'bootstrap';
@import 'pages';
@import 'animacao';
@import 'galeria';

/* -----------Configurações da Página------ */
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(329.54deg,  #49C2F5  0%  , #C6DDFD 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

:root{
    font-size: 62.5%; /* Equivalente a 10px, já que o tamanho natural é 16px */
}


/* Configurações dos elementos da navbar */
#navstyle{ //Arumar a responsividade do bg
    /* font-weight: 400;
    font-size: 18px;
    line-height: 1;
    font-family: 'Merriweather', serif;
    Tudo isso pode ser simplificado assim */
    font: 400 2.4rem/1 'Helvetica Neue', serif;
    height: 10vh;
    text-align: center;
    //border-bottom: 1px solid black;
    background: linear-gradient(329.54deg, #49C2F5  20%  , #C6DDFD 100%);
    //background-color: #08141A;
}
.icones{
    height: 5vh;
    width: 5vh;
}
div a:hover{
    text-decoration: none;
}

.fontnav{
    color:  black;
}
.fontnav:hover:not(.active){
    transition: opacity 0.2s linear;
    text-decoration: none;
    color: black;
}
#Logo{
    width: 10vh;
    margin-left: 8vh;
}

/* Fim da navbar */
  
/* Configurações do Rodapé */
footer{
    background: linear-gradient(329.54deg, #7479B3  0%  , #BFC4FF 100%);
    margin: auto;
    width: 100%;
    color: #33272E;
    bottom: 0px;
    height: 30vh;
    font-family: "FF Mark W05";
    padding-top: 4vh;
    border-top: 2px solid black;
}
footer a{
    color: #33272E;
    text-decoration: none;
}
footer img{
    height: 5vh;
    width: 5vh;
}
/* Configurações do Rodapé */