.page-landing{
     /* O primeiro número é o grau do gradiente(Angulo) */
    text-align: center;
    min-height: 100vh;
    display: flex;
    padding-top: 15vh;
    color: white;
}

#container{
    width: 100%;
}

.location{
    height: 12vh;
}

.font{
    font: 400 1.8rem/1 'Merriweather', serif;
    color: #E8C692;
    //color: #000008;
}

.palavras{
    font: 400 1.8rem/1 'Lucida Handwriting', serif;
    color: #000008;
    //color: #E8C692;
}

.teste{ //Configurações da setinha da pagina principal
    width: 5rem;
    height: 5rem;
    background: black;
    border: none;
    border-radius: 5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: background .200ms;
}

/* -------- Configurações da Biografia no contato ------ */
#perfil{
    border: 2px solid ;
    border-radius: 70px;
    height: auto;
    width: 35%;
    margin-top: 1vh;
    margin-bottom: 2vh;
}
#bio {
    position: -webkit-sticky;
    position: sticky;
    top: 12vh;
    margin-bottom: 2vh;
    padding: 5px;
    background-image: url("fundo.jpg");
    border: 2px solid #000008;
    border-radius: 20px;
  }
  .letras{
    font: 400 1.6rem/1 'Merriweather', serif;
    color: black;
  }
  /* -------- Fim Configurações da Biografia no contato ------ */

.card-body{
    color: #000008;
    font: 2rem 'Lucida Handwriting', serif;
  }
.card-header{
    font: 2rem 'Lucida Handwriting', serif;
}